@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@1,900&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & família= PT+Sans &family= Roboto:ital,wght@1,300 & família= Sofia+Sans+Semi+Condensado:wght@900 &family= Sriracha & display=swap');

@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & família= PT+Sans &family= Roboto:ital,wght@1,300 & family= Sriracha & display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@1,900&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & família= PT+Sans &family= Roboto:ital,wght@1,300 & família= Sofia+Sans+Semi+Condensado:wght@900 &family= Sriracha & display=swap');

@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & família= PT+Sans &family= Roboto:ital,wght@1,300 & family= Sriracha & display=swap');



:root {

--cor0: #1D387A;
--cor1: #87A8FB;
--cor2: #3D71FA;
--cor3: #42527A;
--cor4: #305BC7;
 

--fonte-padrao: Arial, verdana, helvetica, sans-serif;
--fonte-destaque: 'Bebas Neue', cursive;
--font-android: 'Android', cursive; 

--font-fonte1: 'Bebas Neue', cursive;
--font-fonte2: 'Roboto', sans-serif;
--font-fonte3: 'Sriracha', cursive;

--font-fonte4: 'Bebas Neue', cursiva;
--família da fonte: 'PT Sans', sem serifa;
--font-fonte5: 'Roboto', sem serifa;
--font-fonte6: 'Sofia Sans Semi Condensed', sem serifa;
--família da fonte: 'Sriracha', cursiva;

--font-family: 'Bebas Neue', cursiva;
--família da fonte: 'PT Sans', sem serifa;
--font-family: 'Roboto', sem serifa;
--família da fonte: 'Sriracha', cursiva;


}



* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #87A8FB;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
     opacity: 0.7;
}

.logo {
    margin-top: 20px;
    font-size: 24px;
    text-transform: uppercase;
     letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: var(--font-fonte2);
    background: #42527A;
    height: 10vh;
}
main {
    background-size: cover;
    height: 90vh;

}

.nav-list {
    margin-top: 30px;
    list-style: none;
    display: flex;
}


.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}


.mobile-menu {
    display: none;
    cursor: pointer;
}


.mobile-menu div {
    
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        top: 6vh;
        right: 0px;
        width: 50vw;
        height: 92vh;
        background: #42527A;
        flex-direction: column;
        align-items:  center;
        justify-content: space-around;
        transform: translateX(100%);
    
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }

    .nav-list.active {
        transform: translate(0);
    }

}